.html {
  font-family: helvetica;
  background: linear-gradient(135deg, #111111, #222222);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff; /* Default text color on the page */
  min-height: 100vh;
}

.container {
  /* background-size: cover; */
  background: linear-gradient(135deg, #242424, #323232);
  border: solid black 1px;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewContainer {
  width: 95%;
  height: 95%;
  display: flex;
  overflow-y: auto;
  margin: 2.5% auto;
  gap: 40px;
  display: relative;
  /* border: solid 1px white; */
}

.sheetPreview {
  width: 250px;
  height: 325px;
  background: rgb(221, 221, 229, 0.5);
  color: black;
  border-radius: 5px;
  text-align: center;
  transition: all 0.4s ease;
  position: relative;
}

.sheetPreview:hover {
  background: rgb(221, 221, 229, 0.8);
  scale: 110%;
  transform-origin: top center;
}

.newSheetButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  color: #ffffff; /* Text color */
  background: linear-gradient(
    45deg,
    #3498db,
    #2980b9
  ); /* Gradient background (blue) */
  border: 2px solid #3498db; /* Border color (blue) */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional box shadow for depth */

  /* Set width and height */
  width: 150px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */

  /* Hover effect */
  transition: all 0.4s ease;
}

.newSheetButton:hover {
  background: linear-gradient(
    45deg,
    #2980b9,
    #3498db
  ); /* Gradient background on hover (blue) */
}

.logOutButton {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  color: #ffffff; /* Text color */
  background: linear-gradient(
    45deg,
    #3498db,
    #2980b9
  ); /* Gradient background (blue) */
  border: 2px solid #3498db; /* Border color (blue) */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional box shadow for depth */

  /* Set width and height */
  width: 100px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */

  /* Hover effect */
  transition: all 0.4s ease;
}

.logOutButton:hover {
  background: linear-gradient(
    45deg,
    #c81818,
    #e52828
  ); /* Gradient background on hover (blue) */
}

/* Loader animation */
.loader {
  border: 8px solid #f3f3f300; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  position: absolute;
  animation: spin 1s linear infinite;
}

.deleteButton {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: radial-gradient(rgb(255, 70, 70), rgb(216, 0, 0));
  /* border: solid 1px rgb(131, 0, 0); */
  box-shadow: 3px 3px 0 0 #00000072;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.4s;
  border-radius: 25%;
}

.deleteButton:hover {
  background: transparent;
  border: solid red 3px;

  cursor: pointer;
}

.trashcan {
  width: 25px;
  height: 25px;
  margin: auto;
}
.trashcan:hover {
  stroke: red;
}

.alertBGContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.alertBoxContainer {
  background: rgba(214, 214, 214, 0.12);
  width: 800px;
  height: 400px;
  position: relative;
  font-size: x-large;
  border-radius: 20px;
  border: solid #3498db 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.closeButton:hover {
  opacity: 1;
  cursor: pointer;
}

.closeButton:before,
.closeButton:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #ffffff;
}

.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}

.disable-events {
  pointer-events: none;
  overflow: hidden;
}

/* Keyframe animation for the loader spin */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Button {
  width: 25%;
  height: 45px;
  font-size: x-large;
  text-align: center;
  border-radius: 20px;
}
