@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: linear-gradient(to bottom right, rgb(33, 33, 33), gray);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: auto;
    
}

body {
    font-family: helvetica;
    color: white;
    margin:0;
    padding:0;
}

.topContainer{
  width: 100%;
  float:left;
}

.topInfoContainer{
  float:left;
  width: 33.33%;
  border: solid 1px white;
}
.topTD{
  font-size: xx-large;
  width: 100%;
  border: solid 1px white;
  /* background:transparent; */
}

.topTD > input{
  padding:0;
  margin:0;
  background:inherit;
  float: left;
}
.topTD > label{
  width: 50%;
}

.imageContainer{
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
  box-sizing: border-box;
}