@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: linear-gradient(135deg, rgb(53, 53, 53), gray);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: helvetica;
    color: white;
    margin:20px;
    padding:0;
}

.topContainer{
  width: 100%;
  float:left;
}
.underHPContainer{
  margin: auto;
  width: 30%;
  height: 10vh;
  /* border: solid white 1px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.underHP{
  margin: 10px 0;
  /* border: 1px solid white; */
}
.underHP > input{
  margin: 0 3px;
  width: 50%;
  height: 3vh;
  padding:0;
  background:inherit;
  float: left;
  border: 1px solid white;
}
.underHP > label{
  margin: 10px 0;
  width: 50%;
  height: 3vh;
}

.topInfoContainer{
  float:left;
  width: 33.33%;
  height: 33vh;
  /* border: solid 1px white; */
}
.topTD{
  font-size: xx-large;
  margin: 30px 0;
  width: 100%;
  /* border: solid 1px white; */
  /* background:transparent; */
}

.topTD > input{
  
  width: 50%;
  padding: 0 20px;
  font-size: large;
  background:inherit;
  float: left;
  border: 1px solid white;
}
.topTD > label{
  width: 50%;
}

.imageContainer{
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
  box-sizing: border-box;
  margin: auto;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.statContainer {
  position: relative;
  z-index: 1;
  width: 10rem;
  margin: 0 40px;
  min-height: 12rem;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.SkillContainer {
  position: relative;
  z-index: 0;
  width: 10rem;
  margin: 0 40px;
  min-height: 5rem;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateY(-100%);
  opacity: 0; 
  visibility: hidden; 
}

.SkillContainer.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(-20px);
}

.statContainer > input{
  margin: auto;
  width: 80%;
  text-align: center;
  background: transparent;
}

.statContainer > button{
  margin: auto;
  height: 10%;
  border-radius: 10px
}


 button{
  width: 80%;
  height: 4vh;
  background: rgb(203, 203, 203);
  color:  black;
  border-radius: 5px;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


input[type=number]
{
    appearance: textfield;
    -moz-appearance: textfield;
}



.bottomContainer {
  width: 90%;
  height: 40vh;
  margin: 0 auto;
  border: 1px solid white;
}

.BottomInfoContainerButtons {
  float: left;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: solid 1px white;
}
.BottomInfoContainer {
  float: left;
  height: 100%;
  width: 40%;
  border:  solid 1px white;
  box-sizing: border-box; /* Include box-sizing property for consistency */
}

.BottomInfoContainerHeader {
  float: left;
  width: 100%;
  height: 10%;
  border: solid 1px white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.BottomInfoSpellsContainer {
  float: left;
  overflow-y: auto;
  height: 37dvh;
  width: 100%; 
  box-sizing: border-box;
}

.SpellsOffsetContainer {
  width: 90%;
  height: 90%;
  margin: 1% auto;
  /* border: solid greenyellow 3px; */
}


.SpellInfoContainer{
  
  width: 35%;
  float: left;
  height: 40vh;
  /* border: solid green 2px; */
  
}

.SpellInfoOffset{
  overflow-y: auto;
  width: 90%;
  height: calc(100% - 10px);
  margin: 5px auto;
}
.spellButton {
  width: 100%; 
  box-sizing: border-box;
}

.filterButton{
  width: 100%;
  height: 100%;
  margin: 5px;
}

.InventoryContainer{
  float: left;
  width: 75%;
  height: 40vh;
  overflow-y: auto;
  /* border: 2px solid rgb(0, 255, 0); */
}
.MoneyContainer{
  margin: 20px 20px;
  float: left;
  width: 50%;
}
.InventoryMoneyInputFields > input{
  background-color: transparent;
  width: 5em;
  height: 40px;
  border: solid 1px white;
}
.InventoryMoneyInputFields > label{
  width:  7.5em;
  margin: 10px 10px;
}


.BackgroundImageTextArea{
  background-image: url('/OldPaper.png');
  background-size: cover;
  width: 60%;
  height: calc(100% - 20px);
  margin: 10px auto;
  /* border: solid 1px white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center center;
}

.InventoryAreaHeader{
  width: 90%;

  /* border: solid 1px green; */
  font-family: cursive;
  font-size: x-large;
  text-align: center;
  margin-top: 5%;
  color:black;
}

.InventoryArea{
  flex:1;
  width: 90%;
  height: 75%;
  resize: none;
  color:  black;
  font-size: x-large;
  font-family: cursive;
  overflow-y: auto;
  /* border: solid 1px green; */
  background-color: transparent;
  margin-bottom: 5%;
  
}


.InventoryArea:focus{
  outline:none;
}