.WeaponContainer {
    width: 100%;
    float: left;
  }
  
  .Weapon {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .WeaponButton {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .WeaponName {
    background-color: #2C3E50; /* Dark Blue */
    border: none;
    color: white;
    padding: 10px;
    width: 15em;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .WeaponDamage {
    background-color: #E74C3C; /* Red */
    border: none;
    color: white;
    padding: 10px;
    width: 4em;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .WeaponType {
    background-color: #3498DB; /* Blue */
    border: none;
    color: white;
    padding: 10px;
    width: 10em;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  /* Add your custom styling for Dropdown component here */
  