@tailwind base;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg; /* Adjusted to use text-lg */
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}

@tailwind components;

@tailwind utilities;
:root {
  --background: #343434;
  --background-secondary: rgb(73, 73, 73);
  --border-white: white;
  --dark-gray: rgb(29, 29, 29);
  --semi-gray: #616060;
  --border-gray: rgb(143, 143, 143);
  --border-dark-gray: rgba(28, 28, 28, 0.9);
  --light-gray: rgba(215, 215, 215);
  --semi-dark-gray: rgba(127, 127, 127, 0.578);
  --semi-light-gray: rgba(203, 203, 203, 0.262);
  --very-dark-gray: rgba(38, 38, 38, 0.253);
  --semi-black: rgb(73, 73, 73);
  --button-gray: rgba(42, 42, 42, 0.479);
  --transparent-gray: rgba(40, 40, 40, 0.2);
  --button-alternative: rgba(105, 88, 131, 0.619);
  --white-fade: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  --white-fade-thick: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  --transition-small: all 0.3s ease-in-out;
}

html {
  z-index: -2;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 0;
  margin: 0;
}

body {
  font-family: helvetica;
  color: white;
}

input {
  background: none;
  transition: background 0.3s ease;
}

input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.182);
}

.flexCenterAll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCenterHorizontal {
  display: flex;
  justify-content: center;
}
.flexCenterVertical {
  display: flex;
  align-items: center;
}

.button {
  cursor: pointer;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

button {
  width: 80%;
  height: 4vh;
  background: var(--button-gray);
  border: solid 2px var(--BorderGray);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
  transition: var(--transition-small);
}
.shadow:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.noDrag {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.transition {
  transition: all 0.3s ease;
}

.hoverImage{
  opacity: 1;
  transition: opacity 0.3s ease;
}
.hoverImage:hover{
  opacity: 0.8;
}
.list-circle{
  list-style-type: circle;
  margin-left: 1.5ch;
}