@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  z-index: -2;
  background: linear-gradient(135deg, rgb(53, 53, 53), gray);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin: 0;
  padding: 0;
}


:root {
  --BorderGray: rgb(44, 44, 44);
  --BorderGrayA: 44,44,44;
}

body {
  font-family: helvetica;
  color: white;
}
.underHPContainer {
  position: relative;
  top: 2vh;
  margin: auto;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.underHP {
  margin: 10px 0;
}
.underHP > input {
  margin: 0 4px;
  width: 200px;
  height: 40px;
  background: inherit;
  float: left;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
}

.underHP > input:focus{
  outline: none; /* Remove the default focus outline */
  background: rgba(255, 255, 255, 0.199);
}
.underHP > label {
  margin: 10px 0;
  white-space: nowrap;
  width: 120px;
  height: 3vh;
}

.topInfoContainer {
  float: left;
  width: 33.33%;
  height: 45vh;
  /* border: solid 1px white; */
}
.topTD {
  font-size: xx-large;
  margin: 30px 0;
  width: 100%;
  /* border: solid 1px white; */
  /* background:transparent; */
}

.topTD > input {
  width: 50%;
  padding: 0 20px;
  font-size: large;
  background: inherit;
  float: left;
  border: 1px solid white;
}
.topTD > label {
  width: 50%;
}

.imageContainer {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
  box-sizing: border-box;
  margin: auto;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: solid 1px white; */
  margin: 3vh auto;
  width: 100%;
  transition: all 0.5s ease;;
}

.statContainer {
  position: relative;
  z-index: 1;
  width: 175px;
  height: 200px;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  border: solid black 2px;
}

.statsButton{
  border: solid 1px var(--BorderGray);
  transition: all ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.statsButton:hover{
  background: rgb(215, 215, 215);
}

.SkillContainer {
  position: relative;
  z-index: 0;
  width: 175px;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s ease;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0;
  visibility: visible;
  transform: translateY(-40px);
  transform-origin: top center; /* Update the transform-origin property */
}

.SkillContainer.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(-15px);
  border: solid 2px black;
}

.statContainer > input {
  margin: auto;
  width: 80%;
  text-align: center;
  background: transparent;
}

.statContainer > button {
  margin: auto;
  height: 10%;
  border-radius: 10px;
}

button {
  width: 80%;
  height: 4vh;
  background: rgb(203, 203, 203);
  color: black;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.bottomContainer {
  width: 90%;
  height: 40vh;
  margin: 0 auto;
  border: 2px solid var(--BorderGray);
  box-shadow: 5px 5px rgba(38, 38, 38, 0.253);
  border-radius: 10px;
}

.BottomInfoContainerButtons {
  float: left;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* border: solid 1px white; */
}

.BottomContainerButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #f0f0f0; /* Light grey text */
  background-color: rgba(
    212,
    212,
    212,
    0.246
  ); /* Semi-transparent dark grey background */
  border: solid rgb(143, 143, 143) 2px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
}

.BottomContainerButton:hover {
  background-color: #555555;
}

.BottomInfoContainer {
  float: left;
  height: 100%;
  width: 40%;
  border: solid 1px var(--BorderGray);
  box-sizing: border-box; /* Include box-sizing property for consistency */
}

.BottomInfoContainerHeader {
  float: left;
  width: 100%;
  height: 3vh;
  border: solid 2px var(--BorderGray);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.BottomInfoSpellsContainer {
  float: left;
  overflow-y: auto;
  height: 37vh;
  width: 100%;
  box-sizing: border-box;
}

.SpellsOffsetContainer {
  width: 90%;
  height: 95%;
  margin: 1% auto;
  /* border: solid greenyellow 3px; */
  overflow-y: auto;
}

.SpellInfoContainer {
  width: 35%;
  float: left;
  height: 35vh;
  /* border: solid green 2px; */
}

.SpellInfoOffset {
  overflow-y: auto;
  width: 90%;
  height: calc(100% - 10px);
  margin: 5px auto;
}
.spellButton {
  width: 100%;
  transition: ease-in-out 0.3s all;
  border: solid 1px gray;
  /* box-sizing: border-box; */
}
.spellButton:hover{
  background: rgba(128, 128, 128, 0.279);
  border : solid 3px #575757;
}

.InventoryContainer {
  float: left;
  width: 75%;
  height: 35vh;
  overflow-y: auto;
  /* border: 2px solid rgb(0, 255, 0); */
}
.MoneyContainer {
  margin: 20px 20px;
  float: left;
  width: 50%;
}
.InventoryMoneyInputFields > input {
  background-color: transparent;
  text-align: center;
  width: 5em;
  height: 40px;
  border: solid 1px var(--BorderGray);
}
.InventoryMoneyInputFields > label {
  width: 7.5em;
  margin: 10px 10px;
}

.BackgroundImageTextArea {
  background-image: url("/OldPaper.png");
  background-size: cover;
  width: 60%;
  height: calc(100% - 20px);
  margin: 10px auto;
  /* border: solid 1px white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center center;
}

.InventoryAreaHeader {
  width: 90%;

  /* border: solid 1px green; */
  font-family: cursive;
  font-size: x-large;
  text-align: center;
  margin-top: 5%;
  color: black;
}

.InventoryArea {
  flex: 1;
  width: 90%;
  height: 75%;
  resize: none;
  color: black;
  font-size: x-large;
  font-family: cursive;
  overflow-y: auto;
  /* border: solid 1px green; */
  background-color: transparent;
  margin-bottom: 5%;
}

.InventoryArea:focus {
  outline: none;
}

.SearchBarContainer {
  border-radius: 5px;
  border: solid 1px white;
  width: 100%;
  height: 80%;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.SearchBar {
  background: transparent;
  color: white;
  width: 75%;
}
.SearchBar:focus {
  border-radius: 5px;
  border: solid 1px white;
  outline: none;
}

/* region  SpellInfoContainer*/
.spellAlertBox{
  position: relative;
  width: 40%;
  height: 75vh;
  background: rgba(127, 127, 127, 0.578);
  border: solid 1px var(--BorderGray);
  border-radius: 20px;
}

.listContainer{
  overflow-y: auto;
  height: calc(100% - 10vh);
  margin-top: 4vh;
  padding: 0px 30px;
}

.spellName:hover +  .spellInfoContainer {
  display: block;
}

.spellName:hover{
  background: rgb(73, 73, 73);
  cursor: pointer;
}

.spellInfoContainer{
  position: absolute;
  width: 60%;
  height: 90%;
  background: rgba(54, 54, 54, 0.396);
  bottom: 20px;
  right: 20px;
  display: none;
}

/* endregion SpellInfoContainer */

/* region  SpellListContainer*/

.spellInfoListContainer{
  float: right;
  width: 50%;
  height: inherit;
  /* border: solid 1px white; */
}
.spellListContainer{
  float: left;
  width: 75%;
  height: 39vh;
  border: solid 1px white;
}

.spellList{
  float: left;
  margin: 12px;
  height: 95%;
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex-direction: row;
  overflow-y: auto;
  /* border: 1px solid white; */
}
.spellLevelContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid white; */
  width: 90%;
  height: 100%;

}
.spellDetails{
  width: 100%;
  height: 25px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.levelHeader{
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
}
/* endregion SpellListContainer */

.logo{
  top: -10%;
  position: relative;
  background-image: url("/Logo.png");
  background-size: cover;
  width: 400px;
  height: 400px;
}

.PopUpContainer {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(-100%);
}

.PopUpContainer.visible {
  opacity: 1;
  transform: translateY(0%);
}


@media (max-height: 700px)
{
  .logo{
    display: none;
  }
}

@media (max-width: 1000px) {
  .statContainer{
    scale: 0.8;
  }
  .statsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
  }
  .SkillContainer{
    width: 140px;
    margin: 0 auto;
  }
  .SkillContainer.visible{
    transform-origin: top center;
    transform: translateY(-40px);
  }
}