.html {
  z-index: -2;
  font-family: helvetica;
  background: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 100vh;
}

.navbar{
  width: 100%;
  height: 100px;
  background-color: var(--navbarColor);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.teamsContainer{
  position: absolute;
  left: 50px;
  width: 40%;
  gap: 10px;
  display: flex;
  align-items: center;
}

.teamSelect{
  width: 200px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teamSelectDropDownButton{
 width: 100%;
 height: 100%;
}

.teamSelectDropDownOptions{
  width: 200px;
  height: 35px;
  border: solid 1px var(--border-gray);
}

.logoutButton{
  width: 100px;
  height: calc(24px + 10px);
  padding: 0px 20px;
  background-color: var(--semi-light-gray);
  border: solid 1px var(--border-dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3 ease-in-out;
}

.teamsButton{
  width: 125px;
  height: calc(24px + 20px);
  border: solid 1px var(--border-gray);
  transition: all 0.3s ease;
}

.logoutButton:hover, .teamsButton:hover{
  border: solid 1px var(--border-gray);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.677);
}




.userProfile{
  position: absolute;
  right: 10px;
  width: 300px;
  height: 100%;
  /* border: solid 1px var(--border-gray); */
}

.userWelcome{
  width: 198px;
  height: 100%;
  float: left;
}

.userWelcome p{
  text-align: end;
  margin: 12.5% 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userImage{
  aspect-ratio: 1/1;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 1px rgb(141, 141, 141);
  transform-origin: center;
  background-color: var(--background-secondary);
}

.userImageContainer{
  width: 100px;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer{
  min-width: 300px;
  width: 40%;
  height: 80vh;
  background-color: rgba(43, 43, 43, 0.755);
  border: solid 1px white; 
  border-radius: 15px; 
  padding: 20px;
  position:  relative;
}


.submitButton{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.dataBody{
  max-width: calc(100% - 10vh);
  min-width: 300px;
  height: 70vh;
  margin: 5vh 5vh;
  padding: 20px;
  background-color: var(--background-secondary);
}

.bodyContainer1,.bodyContainer2{
  height: 100%;
  /* border: solid 1px */
}

.bodyContainer1{
  float: left;
  width: 66%;
}
.bodyContainer2{
  float: left;
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.dataHeader{
  width: 100%;
  height: 40px;
  position: relative;
}

.sheetDataContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.characterCard{
  aspect-ratio: 3/4;
  width: 250px;
  background-color: rgba(36, 36, 36, 0.445);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  object-position: top center;
  border: solid 1px var(--button-gray);
}
.characterCard:hover{
  scale: 1.1;
  border: solid 1px white
}

.characterCard:hover > hr{
  width: 100%;
  opacity: 1;
}

.characterCardImageContainer{
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: top center;
  border: solid 2px var(--button-gray);
  border-radius: 20px 20px 0px 0px;
}

.characterCardImageContainer:hover{
  opacity: 0.75;
}

.customList{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  cursor: default;
}

.hoverAble{
  transition: all 0.3s ease;
}

.hoverAble.Opacity{
  opacity: 0.6;
}
.hoverAble.Opacity:hover{
  opacity: 1;
}

.optionList{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.optionList > div > input[type="checkbox"] {
  display: none;
  width: 24px;
  height: 24px;
}

.optionList > div > input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
}

.optionList > div > input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #505050;
  background: rgba(128, 128, 128, 0.672);
  margin-right: 10px;
}

.optionList > div > input[type="checkbox"]:checked + label:before {
  background: radial-gradient(#ffffff, #ffffff40);
}