@import url("https://css.gg/css");

.rotated {
  transform: rotate(180deg);
}

.gg-push-chevron-down {
  transition: all 0.2s ease;
}

.gg-remove {
  background: transparent;
  color: white;
  transition: all ease 0.2s;
}
.gg-remove:hover {
  color: red;
}

.closeButton {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.closeButton:hover {
  opacity: 1;
  cursor: pointer;
}

.closeButton:before,
.closeButton:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #ffffff;
}

.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}

.gg-trash {
  color: white;
  transition: all ease 0.2s;
}
.gg-trash:hover {
  color: red;
}
.gg-add {
  scale: 4;
  color: rgba(255, 255, 255, 0.638);
}
.gg-add:hover {
  color: white;
}

.arrow-left {
  box-sizing: border-box;
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transform: scale(var(--ggs, 1));
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
}

.arrow-left::before,
.arrow-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-left: 2px solid;
}

.arrow-left::after {
  width: 20px;
  height: 20px;
  border-bottom: 2px solid;
  transform: rotate(45deg);
}

.arrow-left.rotated{
  transform: rotate(-180deg);
}
