.WeaponContainer {
  width: 100%;
  float: left;
}

.Weapon {
  display: flex;
  align-items: center;
}


.WeaponName {
  background: var(--transparent-gray);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 15px rgba(41, 41, 41, 0.488);
  border: none;
  color: white;
  padding: 10px;
  width: 15em;
  font-size: 16px;
  border: solid 1px var(--border-gray);
  margin-right: 10px;

}

.WeaponDamage {
  background: var(--transparent-gray); 
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 15px rgba(41, 41, 41, 0.488);
  border: none;
  color: white;
  padding: 10px;
  width: 4em;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 15px;
  border: solid 1px var(--border-gray);
  text-align: center;
}

.WeaponType{
  background: var(--transparent-gray); 
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 15px rgba(41, 41, 41, 0.488);
  border: none;
  color: white;
  padding: 10px;
  width: auto;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 15px;
  border: solid 1px var(--border-gray);
  text-align: center;
}

.placeHolder {
  width: auto;
  padding: 1px 5px;
  height: 25px;
  background: var(--semi-black);
  transition: all 0.2s ease;
}

.placeHolder:hover {
  cursor: pointer;
  background: var(--semi-dark-gray);
}

.dropdown {
  position: absolute;
  width: inherit;
}

.optionsContainer{
  z-index: 2;
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2px
}

.options {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 30px;
  border: solid 1px white;
  background-color: var(--semi-dark-gray);
}

.options:hover{
  cursor: pointer;
  background-color: var(--button-gray);
  transition: all 0.2s ease;
}
.options.selected {
  background-color: var(--very-dark-gray);
}


.WeaponText{
  color: white;
  width: auto;
  height: 44px;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.WeaponText,.AddWeapon{
  transition: all 0.2s ease-in-out;
}

.WeaponText:hover + .addWeapon,
.addWeapon:hover + .WeaponText {
  
  color: lime;
  cursor: pointer;
}

