.WeaponContainer {
  width: 100%;
  float: left;
}

.Weapon {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.WeaponButton {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.WeaponName {
  background-color: #2c3e50; /* Dark Blue */
  border: none;
  color: white;
  padding: 10px;
  width: 15em;
  font-size: 16px;
  margin-right: 10px;
}

.WeaponDamage {
  background-color: #e74c3c; /* Red */
  border: none;
  color: white;
  padding: 10px;
  width: 4em;
  font-size: 16px;
  margin-right: 10px;
}

.placeHolder {
  width: auto;
  padding: 1px 5px;
  height: 25px;
  background: var(--semi-black);
  transition: all 0.2s ease;
}

.placeHolder:hover {
  cursor: pointer;
  background: var(--semi-dark-gray);
}

.dropdown {
  position: absolute;
  width: inherit;
}

.optionsContainer{
  z-index: 2;
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2px
}

.options {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 30px;
  border: solid 1px white;
  background-color: var(--semi-dark-gray);
}

.options:hover{
  cursor: pointer;
  background-color: var(--button-gray);
  transition: all 0.2s ease;
}
.options.selected {
  background-color: var(--very-dark-gray);
}